---
import MainLayout from "../../layouts/MainLayout.astro";
import { sanity } from "/src/lib/db.ts";
import type { Post } from "/cms/schema.ts";
import Section from "../../layouts/PageContentWrapper.astro";
import BlockContent from "../../components/BlockContent.tsx"
import { themeColors } from "/src/utils/colors.ts";

export async function getStaticPaths() {
  const items = await sanity.fetch<Post[]>("*[_type == 'post'] | order(_createdAt asc) {slug}");
  return items.map((item) => ({ params: { slug: item.slug.current } }));
}

const { slug } = Astro.request.params;
const post = await sanity.fetch<Post>(`*[_type == 'post' && slug.current == '${slug}'][0]`);
---

<MainLayout title={post.title}>
  <Section append={themeColors("secondary")}>
    <BlockContent
      content={post.body}
      client:only="react"
    />
  </Section>
</MainLayout>
