---
import MainLayout from "../../layouts/MainLayout.astro";
import PageContentWrapper from "../../layouts/PageContentWrapper.astro";
import type { Post } from "/cms/schema.ts";
import { themeColors } from "../../utils/colors.ts";
import { sanity } from "/src/lib/db.ts";

const posts = await sanity.fetch<Post>("*[_type == 'post'] | order(_createdAt desc) {slug, title}");
---

<MainLayout title="Home">
  <PageContentWrapper append={themeColors("primary")}>
    <h1>Tutorials</h1>
    <div class="text-base">
      {posts.map((p) => (
        <p>
          <a href={`/blog/${p.slug.current}`}>{p.title}</a>
        </p>
      ))}
    </div>
  </PageContentWrapper>
</MainLayout>
