@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courier New";
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav {
  font-family: "Zen Dots", cursive;
}

/* hides video spinner */
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}
/* end hides video spinner */
