@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courier New";
}

@layer base {
  h1 {
    @apply text-xl lg:text-3xl;
  }
  h2 {
    @apply text-lg lg:text-3xl mb-12;
  }
  h3 {
    @apply text-base lg:text-xl mb-4;
  }
  h4 {
    @apply text-base lg:text-lg mb-4;
  }
  h5 {
    @apply text-base mb-2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav {
  font-family: "Zen Dots", cursive;
}

/* hides video spinner */
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}
/* end hides video spinner */
