@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zen Dots";
  src: url("/assets/fonts/ZenDots-Regular.woff2") format("woff2"),
    url("/assets/fonts/ZenDots-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Courier New";
}

@layer base {
  h1 {
    @apply text-xl lg:text-5xl my-8;
  }
  h2 {
    @apply text-lg lg:text-3xl mt-8 mb-4;
  }
  h3 {
    @apply text-base lg:text-xl mt-8 mb-3;
  }
  h4 {
    @apply text-base lg:text-lg mt-6 mb-3;
  }
  h5 {
    @apply text-base;
  }
  p {
    @apply my-6;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav {
  @apply font-ZenDots;
}

/* hides video spinner */
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}
/* end hides video spinner */
