---
import MainLayout from "../layouts/MainLayout.astro";
import { sanity } from "../lib/db.ts";
import type { Page } from "../../cms/schema";
import Section from "../layouts/PageContentWrapper.astro";
import BlockContent from "../components/BlockContent.tsx"
import { themeColors } from "../utils/colors.ts";

export async function getStaticPaths() {
  const items = await sanity.fetch<Page[]>("*[_type == 'page'] | order(_createdAt asc) {slug}");
  return items.map((item) => ({ params: { slug: item.slug.current } }));
}

const { slug } = Astro.request.params;
const page = await sanity.fetch<Page>(`*[_type == 'page' && slug.current == '${slug}'][0]`);
---

<MainLayout title={slug}>
  <Section append={themeColors("secondary")}>
    <BlockContent
      value={page.body}
      client:only="react"
    />
  </Section>
</MainLayout>