---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../layouts/PageContentWrapper.astro";
import { themeColors } from "../utils/colors.ts";
---

<MainLayout title="Home">
  <Section append="bg-white">
    <h1 class="my-10">HELLO, there! I'm NICK!</h1>
    <p>Hi there! I am Nick Manning, your instructor. I am a blah blah blah from New York and your course instructor.</p>
    <div class="border-solid border-primary border-8 mt-12 mb-12">
      <img src="https://fluttercrashcourse.global.ssl.fastly.net/assets/myself-at-computer1.png" />
    </div>
    <h2 class="mt-12">Programming Path</h2>
    <p>The past 19 years of my life has been an exciting journey of working as technical lead, Director of link to courses at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company. The past 19 years of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various Youtube Channel, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <h2 class="mt-12">Acomplishments</h2>
    <p>The past 19 years of my life has been an exciting journey of working as technical lead, Director of link to courses at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company. The past 19 years of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various Youtube Channel, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <div class="border-solid border-primary border-8 mt-12 mb-12">
      <img src="https://fluttercrashcourse.global.ssl.fastly.net/assets/spain1.png" />
    </div>
    <h2 class="mt-12">Interests</h2>
    <p>Foreign Languages of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <p>Violin of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <h2 class="mt-12">Personal</h2>
    <p><b>Foreign Languages</b> of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <p><p>Violin</b> of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
  </Section>
</MainLayout>
