---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../layouts/PageContentWrapper.astro";
import Separator from "../layouts/Separator.astro";
import Player from "../components/Player.tsx";
import ValProp from "../components/ValProp.astro";
import FilterButton from "../components/FilterButton.astro";
import { themeColors } from "../utils/colors.ts";

const skills = ['Dart', 'Layout', 'Models', 'Fonts', 'Style', 'Image', 'Navigation', 'Event Handlers', 'State Management', 'JSON', 'Web Services', 'Integration Tests', 'AppBar'];
const reviews = ["“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.", "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.", "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.", "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”."];
---

<MainLayout title="Home">
  <Section append={themeColors("primary")}>
    <h1 class="text-4xl">
      LEARN PROGRAMMING BY BUILDING REAL APPS STEP BY STEP
    </h1>
  </Section>
  <Separator appendOuter={themeColors("primary")} appendInner={themeColors("accent")} clipPath="polygon(0 30%, 100% 60%, 100% 100%, 0 100%);" />
  <Section append={themeColors("accent")}>
    <div class="text-center grid grid-cols-3">
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
    </div>
  </Section>
  <Separator appendOuter={themeColors("accent")} appendInner={themeColors("secondary")} clipPath="polygon(0 60%, 100% 30%, 100% 100%, 0 100%);" />
  <Section append={themeColors("secondary")}>
    <h2 class="text-3xl text-right mb-12">Flutter Skills We Teach</h2>
    <div class="text-center grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
      {skills.map((v) => (<FilterButton>{v}</FilterButton>))}
    </div>
    <!-- <Player
      client:only="preact"
      width="200"
      src="https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8"
    /> -->
  </Section>
  <Separator appendOuter={themeColors("secondary")} appendInner={themeColors("primary")} clipPath="polygon(0 60%, 100% 30%, 100% 100%, 0 100%);" />
  <Section append={themeColors("primary")}>
  <h2 class="text-3xl text-center mb-12">Community Love</h2>
    <div class="text-center grid sm:grid-cols-2 lg:grid-cols-2 gap-16">
      {reviews.map((v) => (<p>{v}</p>))}
    </div>
  </Section>
</MainLayout>
