---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import DarkModeToggle from '../components/DarkModeToggle.tsx';
// import DarkModeToggle from '../components/DarkModeToggle.svelte';
import Logo from '../components/Logo.astro';
// import BlogList from '../components/BlogList.svelte';
import BlogList from '../components/BlogList.astro';

---
<html lang="en">
  <head>
    <BaseHead title='The Steady Calendar Course - The Flutter Crash Course' description='' permalink='' />
    
  </head>
  <body class="h-screen bg-white dark:bg-black text-black dark:text-white">
    <div class="flex flex-col">
      <!-- nav -->
      <div class="flex flex-row justify-between items-center">

        <!-- left -->
        <div><Logo /></div>

        <!-- right -->
        <div class="flex flex-row items-center space-x-4">
          <div><DarkModeToggle client:only="preact" /></div>
          <div>item</div>
          <div>item</div>
          <div>item</div>
        </div>
        
      </div>
      <!-- content -->
      <div class="">
        <BlogList />
      </div>
    </div>
  </body>
</html>
