---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Player2 from "../components/Player2.tsx";
import BlogList from "../components/BlogList.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="The Steady Calendar Course - The Flutter Crash Course"
      description=""
      permalink=""
    />
  </head>
  <body class="h-screen bg-white text-black dark:bg-secondary dark:text-accent">
    <div
      class="flex flex-col items-center bg-accent text-black dark:bg-secondary dark:text-accent"
    >
      <div class="w-full max-w-[1080px] px-5" style="">
        <Navbar />
        <h1>Header</h1>
        <Player2 client:only="preact" />
        <BlogList />
      </div>
    </div>
  </body>
</html>
