---
import MainLayout from "../layouts/MainLayout.astro";
import PageContentWrapper from "../layouts/PageContentWrapper.astro";
import Player from "../components/Player.tsx";
import ValProp from "../components/ValProp.astro";
import BlogList from "../components/BlogList.astro";
---

<MainLayout title="The Flutter Crash Course - Home">
  <PageContentWrapper theme="primary">
    <h1>Header</h1>

    <Player
      client:only="preact"
      width="200"
      src="https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8"
    />
    <BlogList />
  </PageContentWrapper>
  <div class="w-full bg-white dark:bg-primary">
    <div class="h-24 bg-primary dark:bg-secondary diag-sep1"></div>
  </div>
  <PageContentWrapper theme="secondary">
    <div class="text-center grid grid-cols-3 pt-10">
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
    </div>
  </PageContentWrapper>

  <div class="w-full bg-primary dark:bg-secondary">
    <div class="h-24 bg-white dark:bg-primary diag-sep2"></div>
  </div>

  <PageContentWrapper theme="primary">
    <BlogList />
  </PageContentWrapper>
</MainLayout>
