<div
  class="px-5 py-2 border-solid border-2 border-primaryMedium dark:border-primaryDark dark:text-primaryDark text-sm text-primaryMedium font-bold hover:bg-primaryMedium hover:text-white hover:dark:text-white"
>
  <slot />
</div>
