---
const active = "bg-primaryLight dark:bg-primaryMedium dark:text-white";
const inactive = "bg-white dark:bg-primaryDark dark:text-white border-black border dark:border-primaryDark";

const { theme } = Astro.props;

const colors = theme == "active" ? active : (theme == "inactive" ? inactive : "");

---
<span class="rounded-lg font-sans font-light text-sm px-4 py-1 ${colors} uppercase"><slot /></span>