<div class="flex flex-row flex-wrap justify-end space-x-10 nav text-base">
  <div>item1</div>
  <div><a href="/blog">Tutorials</a></div>
  <div>item3</div>
  <div>item4</div>
  <div>item5</div>
</div>
