---
import { sanity } from "../lib/db.ts";
import type { Page } from "../../cms/schema";

let pages;
try {
  pages = await sanity.fetch<Page[]>("*[_type == 'page']  | order(order asc) {slug, name}");
} catch (err) {
  console.error("sanity failed fetching pages", err);
}
---
<div class="flex flex-row flex-wrap justify-end space-x-10 nav text-base">
  <div><a href="/courses/">Courses</a></div>
  <div><a href="/blog/">Tutorials</a></div>
  <div><a href="/about/">About</a></div>
  {pages.map((p) => <div><a href="/${p.slug.current}/">{p.name}</a></div>)}
</div>
