<div class="flex flex-row flex-wrap justify-end space-x-10 nav text-base">
  <div><a href="/courses/">Courses</a></div>
  <div><a href="/blog/">Tutorials</a></div>
  <div><a href="/about/">About</a></div>
</div>
