---
const { label } = Astro.props;
---

<span
  class="px-8 py-4 bg-accent font-sans font-light text-sm text-white dark:bg-secondary dark:text-white hover:bg-primary hover:text-white hover:dark:bg-accent"
>
  {label}
</span>
