---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
import DarkModeToggle from "../components/DarkModeToggle.tsx";
import PageContentWrapper from "../layouts/PageContentWrapper.astro";
import { themeColors } from "../utils/colors.ts";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <script type="text/javascript">
      const val = localStorage.getItem("dark-mode");
      if (val == "1" || window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <BaseHead {title} description="" permalink="" />
  </head>
  <body>
    <div class="flex flex-col">
      <!-- colored full width container -->
      <div
        class="w-full flex flex-col items-center bg-primary text-white dark:bg-secondary dark:text-primary"
      >
        <!-- sub content container with a max width -->
        <div
          class="w-full max-w-[1080px] flex flex-row flex-wrap justify-between px-5 py-8"
        >
          <a href="/"><Logo /></a>
          <div class="flex flex-col flex-wrap items-end space-y-4 text-base">
            <div>
              <!-- placeholder to avoid layout moving -->
              <span>&nbsp;</span>
              <DarkModeToggle client:only="preact" />
            </div>
            <Nav />
          </div>
        </div>
      </div>
      <div class="h-screen">
        <!-- TODO consider footer https://stackoverflow.com/questions/65976223/how-to-use-calc-in-tailwind-css -->
        <slot />
        <PageContentWrapper append={themeColors("primary")}>
          <p>&nbsp;</p>
        </PageContentWrapper>
      </div>
    </div>
  </body>
</html>
