---
import MainLayout from "../../layouts/MainLayout.astro";
import PageContentWrapper from "../../components/PageContentWrapper.astro";
import { courses } from "../../lib/db";
import { themeColors } from "../../utils/colors.ts";

const courseItems = await courses.all();
---

<MainLayout title="Home">
  <PageContentWrapper append={themeColors("base")}>
    <h1>Courses</h1>
    <div class="text-base">
      {courseItems.map((c) => (
        <p>
          <a href={`/courses/${c.slug.current}`}>{c.name}</a>
        </p>
      ))}
    </div>
  </PageContentWrapper>
</MainLayout>
